extends layout

block content
    -var weatherdata = data
    h1 Weatherstation
    div#chart-location
    div#chart-location2
    table#mytable
        thead
            th Datum
            th Temperatur
            th Luftdruck
        tbody
            each data in weatherdata
                tr
                    td=data.date
                    td=data.temperature
                    td=data.pressure
    input.form-control(type="submit" value="Ping API" id="ping")
