extends layout

block content
    -var weatherdata = data
    h1 Weatherstation
    input.form-control(type="submit" value="Ping API" id="ping")
    table
        thead
            th Temperatur
        tbody
            each data in weatherdata
                tr
                    td=data.temperature
