extends layout

block content
    
    h1= rgb
    div#chart-location
    div#chart-location2
    br
    br
    br
    input.form-control(type="submit" value="Ping API" id="ping")
    br
    br
    br
