body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
    display:inline;
    margin:20px;
}

#boxes{
    width:20px;
    height: 20px;
    margin:0;
    display: inline-block;

}
